/* INICIO CONTENEDORES DE IMAGENES */

/* IMAGENES REGLAMENTARIAS */

.container_img-img img{
    background-color: white;
    border: 1px solid black;
    width: 100px;
    margin: 1rem;
    border-radius: 15px;
  }
  
  .container_img-reg {
    @include flex-margin;
    
  }
  
  .container_img-img{
    display: flex;
    flex-wrap: wrap;
    
  }

  /* IMAGENES PREVENTIVAS */

  .container_img-pre {
    @include flex-margin;
  }
  
  /* IMAGENES INFORMATIVAS */

  .container_img-inf {
    @include flex-margin;
  }

  /* IMAGENES RECOMENDARIAS */

  .container_img-reco {
    display: flex;
    margin: 3.2rem;
  }
  .img-consejo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-consejo{
    img{
     width: 70%;
     height: 340px;
     padding-top: 2rem;
  }
    h3{
      color: white;
      font-size: 3rem;
  }
}
 

  /* FIN CONTENEDORES DE IMAGENES */


  