/* INICIO DE GLOBAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
  }
  
  body {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../media/background/pruebaback.jpg);
    background-attachment: fixed;
    @include backgroun-centrado;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  /* FIN DE GLOBAL */


  