/* INICIO DE GRID */

.grid-padre{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    grid-template-rows: 60px auto 50px;
    grid-template-columns: auto;
    height: auto;
  }
  
  header{
    grid-area: header;
  }
  
  main{
    grid-area: main;
  }
  
  footer{
    grid-area: footer;
    justify-content: center;
    
  }

  /* FIN GRID */


  