@mixin fontSize-width-radius {
    font-size: 1.5rem;
    width: 100%;
    border-radius: 10px;
    
}

@mixin backgroun-centrado {
    background-position: map-get($estiloBackCentrado, bPosition );
    background-repeat: map-get($estiloBackCentrado, bRepeat);
    background-size: map-get($estiloBackCentrado, bSize);
    border-radius: 15px;
    
}

@mixin tituloColor-size {
    color: map-get($estiloTitulo, color);
    font-weight: map-get($estiloTitulo, fWeigth);
    font-size: map-get($estiloTitulo, fSize);
}

@mixin flex-margin {
    display: flex;
    margin-top: 3.2rem;
    
}