@mixin fontSize-width-radius {
    font-size: 1.5rem;
    width: 100%;
    
}

@mixin backgroun-centrado {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

@mixin tituloColor-size {
    color: white;
    font-weight: bold;
    font-size: 4rem;
}

@mixin flex-margin {
    display: flex;
    margin-top: 3.2rem;
    
}