/* INICIO DE TITULOS */
  
  /*TITULO PRINCIPAL*/
  
  /* .container-titulo-reg */ 
  h1 {
    @include tituloColor-size;
  }
  
  .container-titulo-reg {
    display: flex;
    margin: 3.2rem;
  }
  
  .colorRojo {
    color: red;
    font-weight: bold;
  }


  /*------------------INICIO PREPARARCION DE PREVENTIVAS----------------------*/
  
  /*TITULO PRINCIPAL*/
  
  /* .container-titulo-pre */ 
  h1 {
    @include tituloColor-size;
  }
  
  .container-titulo-pre {
    @extend .container-titulo-reg ;
    /* display: flex;
    margin: 3.2rem; */
  }
  .colorAmarillo {
    color: yellow;
    font-weight: bold;
  }

    /*------------------INICIO PREPARARCION DE INFORMATIVAS----------------------*/
  
  /*TITULO PRINCIPAL*/
  
  /* .container-titulo-inf */ 
  h1 {
    @include tituloColor-size;
  }
  
  .container-titulo-inf {
    @extend .container-titulo-reg ;
    /* display: flex;
    margin: 3.2rem; */
  }
  .colorVerde {
    color: greenyellow;
    font-weight: bold;
  }


  /*------------------INICIO PREPARARCION DE RECOMENDACIONES----------------------*/
  
  /*TITULO PRINCIPAL*/
  
  /* .container-titulo-reco */ 
  h1 {
    @include tituloColor-size;
  }
  
  .container-titulo-reco {
    @extend .container-titulo-reg ;
    /* display: flex;
    margin: 3.2rem; */
  }
  .colorCyan {
    color: cyan;
    font-weight: bold;
  }

  /* FIN DE TITULOS */


  