/* INICIO DE TITULOS */
  
  /*TITULO PRINCIPAL*/
  
  /* .container-titulo-reg */ 
  h1 {
    color: white;
    font-weight: bold;
    font-size: 4rem;
  }
  
  .container-titulo-reg {
    display: flex;
    margin: 3.2rem;
  }
  
  .colorRojo {
    color: red;
    font-weight: bold;
  }


  /*------------------INICIO PREPARARCION DE PREVENTIVAS----------------------*/
  
  /*TITULO PRINCIPAL*/
  
  /* .container-titulo-pre */ 
  h1 {
    color: white;
    font-weight: bold;
    font-size: 4rem;
  }
  
  .container-titulo-pre {
    display: flex;
    margin: 3.2rem;
  }
  .colorAmarillo {
    color: yellow;
    font-weight: bold;
  }

    /*------------------INICIO PREPARARCION DE INFORMATIVAS----------------------*/
  
  /*TITULO PRINCIPAL*/
  
  /* .container-titulo-inf */ 
  h1 {
    color: white;
    font-weight: bold;
    font-size: 4rem;
  }
  
  .container-titulo-inf {
    display: flex;
    margin: 3.2rem;
  }
  .colorVerde {
    color: greenyellow;
    font-weight: bold;
  }


  /*------------------INICIO PREPARARCION DE RECOMENDACIONES----------------------*/
  
  /*TITULO PRINCIPAL*/
  
  /* .container-titulo-reco */ 
  h1 {
    color: white;
    font-weight: bold;
    font-size: 4rem;
  }
  
  .container-titulo-reco {
    display: flex;
    margin: 3.2rem;
  }
  .colorCyan {
    color: cyan;
    font-weight: bold;
  }

  /* FIN DE TITULOS */


  